/*@font-face {  
  font-family: 'v';  
 
  src: url('v.ttf');  

  font-weight: 100;  
  font-style: normal;  

}*/

@font-face {  
  font-family: '悦圆';  
 
  src: url('悦圆.otf');  

  font-weight: 100;  
  font-style: normal;  

}


